* {
    box-sizing: border-box;
}

html,
body {

    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

/* main page and tutorial page header */
.title-header {
    border-bottom: 2px solid rgb(42, 41, 41);
    background-color: dimgray;
    width: 100%;
    height: 20%;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ore-pic {
    height: 80%;
    aspect-ratio: 1/1;
    background: url("../images/ore.svg") no-repeat center;
    background-size: contain;
}

.pick-pic {
    height: 80%;
    aspect-ratio: 1/1;
    background: url("../images/pick.svg") no-repeat center;
    background-size: contain;
}

.home-link {
    position: absolute;
    right: 20px;
}

/* home page main area */
#main {
    width: 100%;
    font-size: 16px;
    background-color: rgb(89, 87, 87);
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30%;
    text-align: center;
}

.newgame-load-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.link-to-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

/* Footer area styling */
.links-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    border-top: 2px solid rgb(42, 41, 41);
    bottom: -20px;
    width: 100%;
    height: 10%;
}

.social-networks>li {
    display: inline-block;
}

.social-networks i {
    font-size: 160%;
    margin: auto;
    padding: 4%;
    letter-spacing: 25px;
    color: #3a3a3a;
}

/* game page */
#game-main-div {

    height: 100%;
    width: 100%;

    background: linear-gradient(#8663cb, #5a35a5, #8663cb);
}

.stats-container,
.play-area-container,
.game-menu-container {

    display: inline-block;
    vertical-align: top;
    height: 100%;

}

.stats-container {
    width: 30%;

}

.play-area-container {

    width: 50%;

}

.game-menu-container {

    width: 19%;

}

#stats-div {
    border: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#play-area-div {
    border: 2px solid white;
    width: 100%;
    height: 100%;

}

#game-menu-div {
    border: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#coins-div {
    color: darkgoldenrod;
    width: 50%;
}



.ore-play-area,
.smelting-play-area {

    border: 2px solid rgba(255, 255, 255, 0.414);
    background-color: linear#6c5796;
    background: linear-gradient(#9a64e662, #9198e554);
}

/* Ore div common styling
 specifc to ore will be set up in javascript */
.ore-div-container-css {
    min-width: 50%;
    min-height: 50%;
    max-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ore-div-css {

    min-width: 50%;
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(52, 62, 62);
    padding: 3px;
    color: beige;
    justify-content: center;
}

.unlock-ore-div-css {
    border: 2px solid blue;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3px;
    background-color: rgb(52, 62, 62);
}


/* smelting */
#smelt-ore-div-container-css {

    min-width: 50%;
    min-height: 50%;
    max-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}

#smelt-ore-div-css {
    min-width: 50%;
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(52, 62, 62);
    padding: 3px;
    color: beige;
    justify-content: center;
}

#smelt-bar-div {
    border: 2px solid blue;
    width: 50%;

    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(52, 62, 62);

    color: beige;
    justify-content: center;
}

#smelt-bar-progress-div {
    background-color: aqua;
    border: 2px solid blue;
    width: 0%;
}



.game-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 80%;
}



.game-menu li {
    width: 70%;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background: radial-gradient(#e6646400, #d4d8fa4d);
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
}

#game-menu-smelt {
    width: 100%;
}

#game-menu-mine {
    width: 100%;
}

#game-menu-craft {
    width: 100%;
}

#game-menu-settings {
    width: 100%;
}


@media only screen and (max-width:400px) {

    #game-main-div {
        height: 100%;
        width: 100%;

    }

    .stats-container,
    .play-area-container,
    .game-menu-container {
        display: block;
    }

    .stats-container {


        width: 100%;
        height: 30%;
    }

    .play-area-container {

        width: 100%;
        height: 50%;
    }

    .game-menu-container {

        width: 100%;
        height: 19%;
    }


    .play-area-div {

        width: 100%;
    }

    #stats-div {

        width: 100%;
    }

    .game-menu {
        list-style: none;
        display: flex;
        flex-direction: row;

    }
}