* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

/* main page and tutorial page header */
.title-header {
    border-bottom: 2px solid rgb(42, 41, 41);
    background-color: dimgray;
    width: 100%;
    height: 20%;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ore-pic { 
    height: 80%;
    aspect-ratio: 1/1;
    background: url("../images/ore.svg") no-repeat center;
    background-size: contain;
}
.pick-pic {
    height: 80%;
    aspect-ratio: 1/1;
    background: url("../images/pick.svg") no-repeat center;
    background-size: contain;
}
.home-link{
    position: absolute;
    right: 20px;
}

/* home page main area */
#main {
    width: 100%;
    font-size: 16px;
    background-color: rgb(89, 87, 87);
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30%;
    text-align: center;
}

.newgame-load-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.link-to-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

/* Footer area styling */
.links-footer {

    display: flex;

    justify-content: center;
    align-items: center;
    background-color: dimgray;
    border-top: 2px solid rgb(42, 41, 41);
    bottom: -20px;
    width: 100%;
    height: 10%;
}

.social-networks>li {
    display: inline-block;
}

.social-networks i {
    font-size: 160%;
    margin: auto;
    padding: 4%;
    letter-spacing: 25px;
    color: #3a3a3a;
}

/* game page */
#game-header {
    background-color: dimgray;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid rgb(42, 41, 41);
}
#coins-div {
    color: darkgoldenrod;
    background-color: black;
    width: 30%;
}
#game-main-div {
    height: 100%;
    background-color: rgb(89, 87, 87);
}
#game-footer {
    border-top: 2px solid rgb(42, 41, 41);
    height: 10%;
}


/* Ore div common styling
 specifc to ore will be set up in javascript */
.ore-div-css {
        margin: 5px;
        margin-left: 20px;
        width: 30%;
        display: flex;
        height: auto;
        flex-direction: column;
        text-align: center;
        background-color: rgb(52, 62, 62);
        padding: 3px;
        color:beige;
}